@import "tailwindcss";

/* Theme Variables */
:root {
  --background: #f3f4f6; /* light gray background */
  --foreground: #111827; /* strong dark gray */
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
}

/* Base styles */
body {
  @apply bg-[var(--background)] text-[var(--foreground)] antialiased font-medium;
}
